In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("sms_ham_spam_1500.csv")

In [26]:
data_ham=data.loc[data['label']!="ham"]

In [27]:
data_ham

     label                                    message
1     spam  Your package is waiting for confirmation.
3     spam               Earn money from home easily!
4     spam         Claim your reward before midnight.
6     spam               Earn money from home easily!
8     spam           URGENT! Your account is blocked.
...    ...                                        ...
1494  spam               Earn money from home easily!
1495  spam         Click the link to win a new phone.
1496  spam                      Buy now and save 70%!
1497  spam  Your package is waiting for confirmation.
1498  spam      You won a gift voucher worth â‚¹5000!

[750 rows x 2 columns]

In [4]:
data2=pd.read_csv("clean_spam.csv")

In [6]:
data

     label                                    message
0      ham                  Call me when you're free.
1     spam  Your package is waiting for confirmation.
2      ham                       Send me the address.
3     spam               Earn money from home easily!
4     spam         Claim your reward before midnight.
...    ...                                        ...
1495  spam         Click the link to win a new phone.
1496  spam                      Buy now and save 70%!
1497  spam  Your package is waiting for confirmation.
1498  spam      You won a gift voucher worth â‚¹5000!
1499   ham                              Good morning!

[1500 rows x 2 columns]

In [14]:
data2

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [28]:
data3=pd.concat([data2,data_ham],ignore_index=True)

In [29]:
data3.to_csv("combine-data(1500-and-clean).csv",index=False)